.box-register{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #E2CDEF 0%, #F5F5F5 100%);

}

.box-register{
    padding-top: 100px;
    padding-bottom: 30px;
    align-items: center;
}
.register {
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    border-style: solid;
    border: 1px;
    box-sizing: border-box;
    border: solid #343A40 1px;
    padding: 50px;
    background: white;
}
